.row.gutter-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.row.gutter-15>div[class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.row.gutter-0 {
    margin-left: 0;
    margin-right: 0;
}

.row.gutter-0>div[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}


/* Header 
-----------------------*/

.site-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}

.site-header.stiky .widget-area nav {
    padding: 15px 0px;
    transition: all 0.3s;
}

.site-header .widget-area nav {
    transition: all 0.3s;
}

.site-header.stiky .title-area .logo img {
    max-width: 80px;
    transition: all 0.3s;
}

.title-area .logo img {
    transition: all 0.3s;
}
.site-header.stiky .title-area {
    padding: 6px 0 0px;
}
.site-header.stiky .genesis-nav-menu a {
    font-size: 14.5px;
}
.home-hero {
    margin-top: 105px;
}


/* Home CSS */

.home .site-header {
    border-bottom: 0px;
}

.home-hero {
    background-color: #fff;
}

.home-sponsors {
    background-color: #ffffff;
    text-align: center;
}

.home-sponsors ul li {
    display: inline-block;
    padding: 10px 40px;
    vertical-align: middle;
}

.home-sponsors ul li:first-child {
    color: #a0a0a0;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}

.home-history {
    background-image: url(../images/history-bkg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 30px;
}

.home_history_image {
    text-align: center;
}

.home_history_image img {
    vertical-align: bottom;
}

.mob-slide .slick-slide img {
    margin-left: auto;
    margin-right: auto;
}
/* .home-history .wrap {
    padding: 60px 0px 70px 0px;
} */

.small-title {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 34px;
    color: #838383;
}

.content-flag+h2,
.block-title h2 {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-history-content {
    padding-bottom: 15px;
}

.content-flag+h2 {
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 3px;
}

.block-title h2 span {
    font-weight: 300;
    background: linear-gradient(to right, #d23789 0%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animate-title {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.wpcf7 input[type="submit"],
.btn-purple {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    padding: 5px 25px;
    background-color: #650e80;
    border-radius: 3px;
    text-decoration: none;
}
a.btn-purple:focus, a.btn-purple:hover {
    color: #fff;
    text-decoration: none;
}

.wpcf7 input[type="submit"] {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 9px 25px;
}

.btn-purple:hover {
    color: #fff;
    background-color: #ff2ea0;
}

.btn-white {
    color: #650e80;
    font-weight: 900;
    font-size: 15px;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s;
    text-transform: uppercase;
}

.btn-red,
.site-header .btn-red-menu a {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 14.2px 25px;
    background-color: #ff1122;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid #ff1122;
}
.btn-red-menu a:hover{
    background-color: #fff;
    border: 1px solid #ff1122;
    color: #ff1122;
}
.btn-red:focus-within,
.btn-red:hover{
    background-color: #fff;
    color: #ff1122;
    border: 1px solid #fff;
}
.btn-red:focus,
.btn-red:active{
    background-color: #ff1122;
    color: #fff;
    border: 1px solid #ff1122;
    outline: 1px solid #ff1122;
}
.site-header .btn-red-menu .icon-youtube{   
    display: none;
}

.site-header .btn-red-menu  .fa-hidden{
    position: relative;
    left: 0;
    top: auto;
    width: initial;
    height: initial;
    overflow: initial;
}
/* Key framews */


/* ----------------------------------------------
 * Generated by Animista on 2018-11-14 16:0:19
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    /*0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-1692px, 0, 0);
    }
    100% {
        transform: translate3d(-3692px, 0, 0);
    }*/

    from { background-position: 0 0; }
    to { background-position: -5000px 0; }
}


@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}
@keyframes head-animate {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

.play-top{
    padding: 40px !important;
}
.play-top img {
    position: relative;
    width: 120px;
    height: 120px;
    border: none;
    box-shadow: 0 0 0 0 rgba(230, 0, 132, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: transparent;
    background-size: 145px auto;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    text-indent: 1000%;
    overflow: hidden;
    white-space: nowrap;
}



/* Home Youtube */

.c-video {
    position: relative;
    margin-bottom: 95px;
}
.popup-play{
    text-decoration: none;
}
.c-video .c-play-video {
    background: url(../images/play_2.png) scroll 50% 50% no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.c-video .video-wrapper {
    min-height: 250px;
    /*background-image: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), color-stop(#e1e1e1), color-stop(#eaeaea), color-stop(#f4f4f4), to(#fefefe));
    background-image: -webkit-linear-gradient(bottom, #d7d7d7, #e1e1e1, #eaeaea, #f4f4f4, #fefefe);
    background-image: -o-linear-gradient(bottom, #d7d7d7, #e1e1e1, #eaeaea, #f4f4f4, #fefefe);
    background-image: linear-gradient(to top, #d7d7d7, #e1e1e1, #eaeaea, #f4f4f4, #fefefe);*/
    border-radius: 4px;
}
.c-video-preview{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.content-test-slide .c-video-preview{
    margin-left: 20px;
    margin-right: 20px;
}

.c-video iframe,
.c-video video {
    width: 100%;
    height: 100%;
}

.home-youtube {
    background-image: url(../images/youtube-bkg.jpg);
    background-position: center;
    background-size: cover;
    padding: 135px 0px 120px;
    overflow: hidden;
}

.home-youtube .home-youtube-content {
    text-align: right;
    color: #fff;
    max-width: 355px;
    margin-left: auto;
    padding-top: 15px;
}

.home-youtube .home-youtube-content img {
    max-width: 80px;
    margin-right: 15px;
}

.home-youtube .item-video {
    margin-left: 9.5px;
    margin-right: 9.5px;
}

.home-youtube .c-video .video-wrapper {
    height: 215px;  
    min-height: auto;
}
.home-youtube .c-video-preview{
    background-size: 101%;
}

.home-youtube .row {
    margin-right: -100px;
}

.video-slide .item-video h5 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
}

.video-slide .c-video {
    margin-bottom: 20px;
}

.arrow-slide {
    position: absolute;
    top: calc(50% - 50px);
    color: #fff;
    background-color: #ff1122;
    z-index: 50;
    text-decoration: none;
    font-size: 22px;
    padding: 8px;
}

.arrow-slide.sli-next {
    left: 63%;
}

.arrow-slide.sli-prev {
    left: 75px;
}


/*home hours*/

.home-hours {
    padding-top: 0;
}

.home-hours .row div[class*='col-']:first-child {
    text-align: right;
    margin-top: 65px;
}

.home-hours .home_history_image {
    text-align: left;
    margin-top: -60px;
}

.home-hours.shortcode {
   
    position: relative;
}

.animate-face{
     overflow: hidden;
}
/*contact for fb ints*/

.small-contact {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-contact img {
    max-width: 175px;
}

.small-contact .content-contact {
    width: 100%;
    max-width: 790px;
}

.small-contact .cont-title {
    text-align: center;
    max-width: calc(100% - 156px);
}

.small-contact .cont-title h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    text-shadow: 2px 2px 7px rgba(101, 14, 128, 0.6);
}

.small-contact .cont-form {
    /*display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;*/
    position: relative;
}

.small-contact .cont-form .item-btn {
    width: 1000%;
    max-width: 154px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 15px;
    margin-top: 8px;
}

.small-contact .cont-form .item-btn img {
    margin-bottom: 30px;
}

.small-contact .cont-form .item-btn .btn-purple {
    width: 100%;
    padding: 3.5px 10px;
}

/*.small-contact .cont-form>div {
    width: calc(100% - 159px);
}

.small-contact .cont-form .item-form {
    width: calc(50% - 3.5px);
}*/

.small-contact .cont-form .item-form:last-child {
    float: right;
}

.small-contact .cont-form .item-form:nth-last-child(2) {
    float: left;
}

.small-contact .cont-form .item-form input {
    font-size: 15px;
    padding: 9.5px 15px;
    border-radius: 4px;
    border: 2px solid #e6e6e6;
}


/**/

.home-hero .small-contact {
    margin-top: -237px;
    position: relative;
    z-index: 5;
    margin-bottom: 40px;
}


/*testimonials*/

.home-testimonial {
    background-image: -webkit-gradient(linear, left top, right top, from(#d53889), color-stop(#bd2988), color-stop(#a21d86), color-stop(#871484), to(#690f80));
    background-image: -webkit-linear-gradient(left, #d53889, #bd2988, #a21d86, #871484, #690f80);
    background-image: -o-linear-gradient(left, #d53889, #bd2988, #a21d86, #871484, #690f80);
    background-image: linear-gradient(to right, #d53889, #bd2988, #a21d86, #871484, #690f80);
    padding: 45px 0;
}

.home-testimonial .small-title {
    color: #fff;
    text-align: center;
    font-size: 38px;
    margin-bottom: 37px;
}

.content-test-slide .slick-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.content-test-slide .slick-dots li {
    display: inline-block;
}

.content-test-slide .slick-dots li a:focus,
.content-test-slide .item-slide:focus,
.video-slide .item-video:focus {
    outline: 0;
    border: 0 none;
}

.content-test-slide .slick-dots li span {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #d33889;
    border-radius: 50%;
}

.content-test-slide .slick-dots li:not(:last-child) {
    margin-right: 18px;
}

.content-test-slide .slick-dots li.slick-active span {
    background-color: #fff;
}

.content-test-slide .item-slide h5 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 46px;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    /*margin-left: 20px;
    margin-right: 20px;*/
    width: 100%;
}

.content-test-slide .item-slide {
    /*transition: all 0.3s;*/
    position: relative;
}

.content-test-slide .item-slide.slick-current .c-video{
    transform: scale(1.1);
    transition: all 0.3s;
}
.content-test-slide .item-slide.slick-current h5{
    margin-left: 0px;
    margin-right: 0px;
}
.content-test-slide .slick-track{
    padding-top: 15px;
}
.content-test-slide .item-slide:not(.slick-current) h5{
    bottom: 10px;
}

/*Contract*/

.home-contract {
    padding: 20px 0 0;
}

.home-contract .col-md-5 {
    position: relative;
}

.home-contract .col-md-5 img {
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
}

.contract_image {
    /*text-align: center;
    background-image: url(../images/bkg_01.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;*/
    position: absolute;
    height: 100%;
    min-height: 600px;
    width: 400px;
    top: 50px;
    left: -40px;
    background-image: url(../images/bkg_01.png);
    background-repeat: no-repeat;
}

.contract_image img {
    vertical-align: bottom;
}

.home-contract h3 {
    font-weight: 300;
    font-size: 38px;
    text-transform: uppercase;
    background: linear-gradient(to right, #d23789 0%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*articles*/

.home-article {
    padding: 35px 0;
}

.home-article h2 {
    text-align: center;
    margin-bottom: 35px;
}

.home-article .more {
    text-align: center;
    margin-top: 20px;
}

.blog-box img {
    width: 100%;
    height: 100%;
    max-height: 215px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: inherit;
    margin-bottom: 15px;
}
.blog-box  a {
    text-decoration: none;
}
.blog-box {
    transition: transform .3s ease;
}

.blog-box:hover {
    transform: scale(1.03);
}

.content-tag {
    text-align: center;
    margin-bottom: 10px;
}

.content-tag span {
    font-size: 12px;
    color: #fff;
    background-color: #d43889;
    padding: 5.5px 10px;
    font-weight: 800;
    border-radius: 3px;
    display: inline-block;
}

.content-tag span:not(:last-child) {
    margin-right: 5px;
}

.blog-box h3 {
    text-align: center;
    font-size: 16px;
    color: #650e80;
    text-transform: uppercase;
    font-weight: 800;
}


/*section instagram*/

.text-purple {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 45px;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-inst {
    background-color: #f6f6f6;
    padding-top: 57px;
}

.home-inst .wrap {
    text-align: center;
    margin-bottom: 50px;
}

.home-inst .wrap>a {
    font-size: 52px;
}

.home-inst .wrap>a i {
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
}

.home-inst .small-title {
    line-height: 28px;
    margin-bottom: 0px;
}

.content-inst .row {
    margin-left: 0;
    margin-right: 0;
}

#yazz_instafeed div[class*='col-'] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 280px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#yazz_instafeed .caption {
    position: absolute;
    background: rgba(101, 14, 128, 0.8);
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    padding: 30px;
    transition: transform .5s;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.caption .fab {
    display: block;
    font-size: 33px;
    margin: 18px 0;
    font-weight: 200;
}

#yazz_instafeed div[class*='col-']:hover .caption {
    -ms-transform: translateY(0);
    transform: translateY(0);
}


/*home send book*/

.contact-book {
    position: relative;
    padding: 95px 0 27px;
    z-index: 5;
}

.contact-book .img-float {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 355px;
}

.c-style {
    max-width: 980px;
}

.c-style.small-contact img {
    max-width: 185px;
}

.c-style .cont-title {
    background: #fff;
    border: 2px solid #e6e6e6;
    padding: 12px 8px;
    margin-bottom: 13px;
}

.c-style .cont-title h4 {
    text-shadow: none;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

.book_popup .btn-purple{
    font-family: 'Lato', sans-serif;
    position: relative;
    padding: 5px 38px 5px 16px;
    font-size: 18px;
}
.book_popup .btn-purple:after{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    z-index: 9999;
    background-image: url(./../images/arrow-right.png);
    left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    right: 13px;
    top: 13px;
}
/* other pages
******************************************/

.content-submenu {
    background-color: #fafafa;
    padding: 18px 0;
    margin-top: 100px;
}

.content-submenu .row {
    align-items: center;
}

.content-submenu .top-left {
    font-size: 17px;
    text-transform: uppercase;
    color: #c7c7c7;
}

.content-submenu .top-left span {
    color: #dc227a;
    margin: 0 10px;
}

.content-submenu .top-left a {
    text-decoration: none;
    color: #650e80;
    margin-right: 10px;
}

.content-submenu .top-right {
    text-align: right;
}

.content-submenu .top-right a {
    font-size: 26px;
    color: #dc227a;
}

.content-submenu .top-right .fa-facebook-f {
    font-size: 22px;
    position: relative;
    top: -2px;
}

.content-submenu .top-right .fa-instagram {
    font-weight: 300;
}

.content-submenu .top-right a:not(:last-child) {
    margin-right: 18px;
}

.content-flag .flag {
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
}

.content-flag .flag:not(:last-child) {
    margin-right: 10px;
}

.c-quote {
    width: calc(100% - 95px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 110px;
    padding-right: 110px;
}

.c-quote p {
    font-size: 44px;
    line-height: 44px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-quote::before,
.c-quote::after {
    content: "";
    font-size: 170px;
    color: #f0f0f0;
    position: absolute;
    display: inline-block;
    font-family: 'Caveat', cursive;
}

.c-quote::before {
    content: "“";
    left: 0;
    top: -75px;
}

.c-quote::after {
    content: "“";
    right: 0;
    bottom: -75px;
    transform: rotate(180deg);
}

.contact-book-bio {
    background-color: #d43889;
    padding: 23px 0 50px;
}

.c-hours .home_history_image {
    margin-top: 0;
}

.c-hours.shortcode .home_history_image img {
    margin-top: -50px;
}

.c-hours .block-title h3 {
    font-weight: 400;
    text-transform: uppercase;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*popup contact*/

.mfp-bg {
    background: rgba(33, 5, 42, 0.8);
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
    position: fixed;
    font-size: 70px;
    font-weight: 100;
    opacity: 1;
    top: 30px;
    right: 32px;
}

.contact-popup {
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
}

.contact-popup h2,
.contact-popup p {
    color: #fff;
    text-align: center;
}

.contact-popup h2 {
    font-weight: 800;
}

.contact-popup p {
    font-size: 19px;
}

.contact-popup label {
    color: #fff;
    display: block;
    text-align: right;
    line-height: 52px;
    /*margin-bottom: 16px;*/
    margin-bottom: -7px;
    font-size: 18px;
}

.item-form {
    margin-bottom: 16px;
}

.item-form input[type*="text"],
.item-form input[type*="email"] {
    padding: 10.5px 16px;
}

.item-form select {
    position: relative: 
    height: 52px;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 10.5px 16px;

}

.c-select {
    position: relative;
}

.c-select::before {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: 15px;
    font-size: 30px;
    color: #650e80;
    font-weight: 800;
    top: 50%;
    transform: translateY(-50%);
}

.item-form .btn-purple {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 9px 25px;
}


/*event*/
.gallery-event .wrap{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.home-history .wrap,
.home-ensena .wrap,
.section-event .wrap{
    max-width: 1045px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section-event {
    padding: 40px 0 60px;
}

.section-event h2 {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.event-box {
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238, 238, 238, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(238, 238, 238, 1);
    box-shadow: 0px 0px 20px 0px rgba(238, 238, 238, 1);
    border: 3px solid #eeeeee;
    min-height: 228px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.event-box .e-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 460px;
}

.event-box .details-date {
    width: 100%;
    max-width: 205px;
    background-color: #dc227a;
    padding: 15px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border-right: 1px solid #ec8ab9;
}

.event-box .details-date::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #dc227a;
}

.event-box .details-date span {
    color: #fff;
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
}

.event-box .details-date .c-date {
    font-size: 39px;
    font-weight: 700;
    line-height: 39px;
}

.event-box .details-date .c-tag {
    font-size: 13px;
    background-color: #ffffff;
    color: #9b9b9b;
    padding: 5px 14px 3px 14px;
    border-radius: 4px;
    margin: 0 auto 12px;
    z-index: 9;
}

.event-box .e-left div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #650e80;
}

.event-box .e-right {
    padding: 25px 30px;
    width: 100%;
}

.event-box .e-right h4 {
    font-size: 25px;
    text-transform: uppercase;
    color: #650e80;
    font-weight: 800;
}

.event-box .e-right p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
}

.gallery-event {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 58px 0 70px;
}

.gallery-event h2 {
    text-align: center;
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 35px;
}

.slide-gallery .arrow-slide {
    background-color: #6f1181;
    top: 50%;
    transform: translateY(-50%);
}

.slide-gallery .arrow-slide.sli-next {
    left: auto;
    right: 40px;
}

.g-item a {
    border: 0 none;
}

.g-item img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.g-item div[class*="col-"] {
    overflow: hidden;
}

.g-item div[class*="col-"]:hover img {
    transform: scale(1.2);
}

.event-box.expired{
    opacity: 0.4;
}
/* Blog Page
-----------------------------*/

/*.content-sidebar-wrap .content {
    max-width: 778px;
    width: 100%;
}*/

.content-sidebar .content-sidebar-wrap .content {
    padding-bottom: 70px;
}

.page-template-page-blog .site-inner {
    padding-top: 60px;
}

/*.site-inner .sidebar {
    max-width: 377px;
    width: 100%;
    float: left;
    margin-left: 70px;
}*/

.site-inner .sidebar section {
    border-left: 1px solid #f4f4f4;
    margin-bottom: 0;
    padding-left: 33px;
    padding-top: 0;
    padding-right: 0px;
}

.widget_categories ul {
    padding-left: 22px;
}

.site-inner .sidebar h3.widgettitle {
    color: #650e80;
    font-weight: 900;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.site-inner .sidebar .widget ul>li {
    margin-bottom: 5px;
    padding-bottom: 0px;
    position: relative;
}

.site-inner .sidebar.widget ul {
    padding-left: 22px;
}

.item-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-posts a {
    text-decoration: none;
}
.item-posts a:hover h4 {
    color: #8b1cad;
}

.item-posts h4 {
    color: #650e80;
    font-weight: 900;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
}

.item-posts .i-left h2 {
    font-size: 79px;
    color: #f9f9f9
}

.item-posts .i-center {
    max-width: 203px;
    width: 100%;
    margin-right: 15px;
    margin-left: 10px;
}

.item-posts .i-right {
    width: 68px;
    height: 68px;
    background-size: cover;
}

.site-inner .sidebar .widget .cat-item:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 9999;
    background-image: url(./../images/arrow-right-red.png);
    left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    right: auto;
    left: -23px;
    top: 6px;
    z-index: 1;
}

.site-inner .sidebar .search-form {
    position: relative;
    z-index: 1;
    width: 100%;
}

.site-inner .sidebar .search-form input[type='search'] {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fafafa;
    border: 0;
}

.site-inner .sidebar .search-form input[type='submit'] {
    width: 55px;
    height: 52px;
    background-color: #650e80;
    opacity: 1;
    z-index: 9999;
    clip: initial;
    font-size: 0;
    margin-top: 0px;
    right: 0;
    z-index: 1;
}

.site-inner .sidebar .search-form:after {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 9999;
    background-image: url(./../images/arrow-right.png);
    left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    right: 14px;
    top: 17px;
}

.site-inner .sidebar ul li a {
    color: #650e80;
    font-weight: 900;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.site-inner .sidebar ul li a:hover {
    color: #8b1cad;
}

.blog-image{
    position:relative;
    line-height: 0;
    margin-bottom: 5px;
}
.blog-item .blog-image img {
    width: 100%;
}
.blog-item  .blog-image:hover:before {
    opacity: 1;
    visibility: visible;
}
.blog-item  .blog-image:before {
    content: "";
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog-item a:hover h3{
    color: #8b1cad;
}
.blog-related a {
    text-decoration: none;
}

.blog-related h3,
.single-blog h3,
.blog-item .blog-meta h3 a {
    color: #650e80;
    font-weight: 800;
    text-decoration: none;
    font-size: 17px;
}

.blog-related h3 {
    padding-top: 12px;
    padding-bottom: 10px;
}

.blog-item .blog-meta {
    padding-top: 5px;
    padding-bottom: 10px;
}

.blog-item .blog-meta-top .blog-meta {
    padding-top: 15px;
    padding-bottom: 35px
}

.related-blog>h3 {
    margin-bottom: 30px;
}

.related-blog>h3,
.blog-item .blog-meta-top h3 a {
    font-size: 23px;
}

.blog-item .blog-meta-top h3 a:hover{
    color:#8b1cad;
}
.single .site-inner {
    padding-top: 40px;
}

.single-blog .content-single p:last-child {
    margin-bottom: 36px;
}

.separator {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 9px;
}


/* Page Cursos
-----------------------------*/

.event-box .e-left.left-cursos {
    padding: 15px;
    align-items: center;
    justify-content: center;
    max-width: 395px;
    box-sizing: border-box;
}

.event-box.cursos-box {
    max-width: 1045px;
    margin-left: auto;
    margin-right: auto;
}

.event-box .e-right.right-cursos {
    padding: 33px 30px 45px 8px;
}

@keyframes snake {
    0% {
        /*opacity: 0.3; */
        transform: scale(1);
        transform:translateY(0px);    
        /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);*/
    }
    50% {
        transform: scale(1.4);
        transform: translateY(-10px);  
        /*box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.7);*/
    }
    100%  {
        /*opacity: 0.3; */
        transform: scale(1);
        transform:translateY(0px); 
        /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);*/
    }
}
/* section Cursos live
-----------------------------*/
.animate-face{
    overflow: hidden;
    height: 270px;
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: 0;
}

.animate-face > .animate-img {
    background: url(./../images/many-icons.png) repeat-x;
    height: 300px;
    width: 5076px;
    animation: slide 25s linear infinite;
    position: absolute;
    bottom: 5px;
    z-index: 9;
    background-size: cover;
    width: 100%;
}

/*Get Book
-----------------------------*/

.get-book-bio {
    min-height: 125px;
    background-color: #650e80;
}

.get-book-bio .get-book {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding: 25px;
}

.get-book .content-contact {
    display: flex;
    flex-direction: row;
    padding-left: 145px;
    align-items: center;
}

.get-book img {
    position: absolute;
    max-width: 160px;
}
.get-book .content-contact .item-btn {
    margin-top: 8px;
}

.get-book-bio .cont-title {
    max-width: 730px;
}

.get-book-bio .cont-title p {
    margin-bottom: 0;
}

.get-book-bio h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 800;
}

.get-book-bio p {
    color: #fff;
}


/* Pagination
-----------------------------*/

.content-pagination {
    padding-top: 34px;
    padding-bottom: 15px;
}

.navigation {
    width: 100%;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    padding: 8px 12px;
    border: 1px solid #650e80;
    color: #650e80;
    transition: all 0.3s;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 2px;
}

.navigation ul li:hover a {
    background-color: #650e80;
    color: #fff;
    text-decoration: none;
}

.navigation ul li.active a {
    background-color: #650e80;
    color: #fff;
}


/* Yazmin Enseña
-----------------------------*/

.home-ensena {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -8px;
}

.home-ensena .event-box {
    padding: 40px;
    max-width: 585px;
    width: 100%;
    justify-content: space-between;
}

.home-ensena .event-box ul {
    padding-left: 30px;
}

.home-ensena .event-box ul li {
    position: relative;
}

.home-ensena .event-box ul li a {
    color: #7e7e7e;
    text-decoration: none;
    font-size: 20px;
}

.home-ensena .block-title h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.home-ensena .event-box ul li:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    z-index: 9999;
    background-image: url(./../images/arrow-right-red.png);
    left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    right: auto;
    left: -23px;
    top: 7px;
}


/* All 
-----------------------------*/
input[type="text"]::-webkit-input-placeholder {
    font-weight: 700;
}
.more {
    text-align: center;
}

.single-blog .get-book .content-contact {
    flex-direction: column;
    align-items: end;
}

.single-blog .get-book img {
    max-width: 155px;
}

.single-blog .get-book-bio .cont-title p {
    margin-bottom: 12px;
    line-height: 1.2;
}

.single-blog .get-book-bio h4 {
    font-size: 23px;
    margin-bottom: 5px;
}

.single-blog .get-book-bio {
    margin-top: 40px;
}


/* social Footer
-----------------------------*/

.footer-widgets-3 .menu-social-icons-container ul li {
    display: inline-block;
    padding-right: 14px;
    padding-left: 14px;
}

.icon-2x,
.icon-2x {
    position: relative;
}

#menu-social-icons .icon-instagram:before {
    content: "";
    position: absolute;
    background-image: url(./../images/insta.png);
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    left: -15px;
}

#menu-social-icons .icon-facebook:before {
    content: "";
    position: absolute;
    background-image: url(./../images/face.png);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -17px;
}


/* Popuo book
-----------------------------*/

.content-book {
    max-width: 750px;
    padding: 80px 75px 75px 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    text-align: center;
}

.content-book h3 {
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
    font-weight: 900;
    margin-bottom: -2px;
    letter-spacing: 0;
}

.content-book h4 {
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 21px;
    letter-spacing: 1px;
}

.content-book input[type='text'] {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 22px;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(238, 238, 238, 0.54);
    box-shadow: 0px 0px 12px 3px rgba(238, 238, 238, 0.54);
    border: 2px solid #eeeeee;
}

.content-book img {
    margin-right: -50px;
}

.sfm-navicon-button {
    display: none;
    top: 25px !important;
    position: fixed;
    position: fixed;
    right: 106px !important;
    left: auto;
}

/* Social
-----------------------------*/
.social.tw img{
    animation: head-animate 2s infinite;
    transform-origin: center;
}
.social.insta img{
    animation: head-animate 2.4s infinite;
    transform-origin: center;
}
.social.snap img{
    animation: head-animate 2.2s infinite;
    transform-origin: center;
}
.social.gp img{
    animation: head-animate 1.9s infinite;
    transform-origin: center;
}
.social.facelive img{
    animation: head-animate 2.4s infinite;
    transform-origin: center;
}
.social.lkd img{
    animation: head-animate 2.1s infinite;
    transform-origin: center;
}
.social.pt img{
    animation: head-animate 1.5s infinite;
    transform-origin: center;
}
.social.face img{
    animation: head-animate 1.3s infinite;
    transform-origin: center;
}
.social.you img{
    animation: head-animate 2s infinite;
    transform-origin: center;
}

/* General CSS
-----------------------------*/
img.circle-mob {
    position: relative;
    vertical-align: bottom;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 165px;
    margin-top: 20px;
}
.sfm-navicon-button.sf_label_default{
    right: 5% !important;
    background-color: transparent !important;   
}
.sfm-label-metro .sfm-navicon, 
#sfm-mob-navbar .sfm-navicon, 
.sfm-label-metro .sfm-navicon:after, 
#sfm-mob-navbar .sfm-navicon:after, 
.sfm-label-metro .sfm-navicon:before, 
#sfm-mob-navbar .sfm-navicon:before {
    background-color: #6f0086 !important;
}
.site-inner .sidebar {
    margin-left: 50px;
    max-width: 29%;
    width: 100%;
    float: left;
}
.content-sidebar .content-sidebar-wrap .content {
    max-width: 65%;
    width: 100%;
} 
.content-test-slide .item-slide[aria-hidden="true"] .c-video{
   /* opacity: 0;
    transition: all 0.3s;*/
}
.title-animate{
    overflow: hidden;
}
.title-animate div{
    display: block;
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.title-animate div.visible{
    transform: translate(0px, 0px);
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/*All Fix*/
.footer-widgets-1 a{
    transition: all 0.3s; 
}
.footer-widgets-1 a:hover{
    color: #cecece;
}
.footer-widgets-3 .menu-social-icons-container ul li a{
    transition: all 0.3s;
}
#menu-social-icons a:hover [class*=" icon-"]:before{
    opacity: 0.7;
    transition: all 0.3s;
}
.pb-60{
    padding-bottom: 60px;
}
.genesis-nav-menu a:focus{
    background-color: #fff;
    border: 0px solid #fff;
    color: #650e80;
    outline: 0px;
}
/* Form Active Camping
-----------------------------*/
.c-select .menu-interesado:after{
    content: "";
    position: absolute;
    background-image: url('../images/arrow-right-red.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    transform: rotate(90deg);
    right: 7px;
    top: 0px;
}
._form-content{
    display: flex;
    flex-direction: row;
}
._form_element{
    width: 100%;
    max-width: 312px;
    margin-right: 10px;
}
._form-thank-you{
    background: linear-gradient(to right, #d23789 20%, #781582 80%);
    color: #fff;
}
._form-label{
    display: none;
}
._form-branding{
    display: none;
}
._form_element input[type="text"]{
    font-size: 15px;
    padding: 9.5px 15px;
    border-radius: 4px;
    border: 2px solid #e6e6e6;
}
._form-content ._submit{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    padding: 3.5px 15px;
    background-color: #650e80;
    border-radius: 3px;
    text-decoration: none;
}
._clear-element{
    display: none;
}
.cont-form .here{
    position: absolute;
    right: 63px;
    bottom: 78px;
}
/* Media Query
-----------------------------*/
@media only screen and (max-width: 1200px) {
    .title-area {
        max-width: 13%;
        width: 100%;
    }
    .site-header .widget-area {
        max-width: 100%;
        width: 81%;
    }
    .ensena_image img{
        position: absolute;
        bottom: 0;
    }
    .site-inner .sidebar {
        margin-left: 20px;
    }
    .site-inner .sidebar section {
        padding-left: 15px;
    }
    .item-posts .i-left h2 {
        font-size: 50px;
    }
    .item-posts .i-right {
        width: 50px;
        height: 50px;
    }
    .get-book-bio .cont-title {
        max-width: 549px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1023px) {
    .sfm-navicon-button {
        display: block;
        transition: all 0.3s;
    }
    .sfm-navicon-button.stiky {
        top: 13px !important;
    }
    .site-header .header-widget-area {
        display: none;
    }
    .site-header .title-area {
        text-align: left;
    }
    .site-header .wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .content-test-slide .item-slide:not(.slick-current) {
        transform: scale(1);
        /*transition: all 0.3s; */
    }
    .c-video {
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-hero .small-contact {
        margin-top: -128px;
    }
    .small-contact img {
        max-width: 100px;
        display: none;
    }
    .small-contact .cont-title h4 {
        font-size: 20px;
    }
    .footer-widgets-1, .footer-widgets-2 {
        text-align: center;
    }
    .footer-widgets-1 section{
        width: 50%;
    }
    .menu-social-icons-container .menu{
        width: 100%;
        text-align: center;
        padding-left: 38px;
    }
    .footer-widgets-3 .widget-wrap{
        text-align: center;
    }
    .page-template-page-biography .wrap .rhcol{
        width: 100%;
        margin-left: 0;
    }
    .site-inner .sidebar {
        margin-left: 20px;
        max-width: 32%;
    }
    .animate-face{
        display: none;
    }
    .small-contact .cont-title {
        max-width: 100%;
    }
    .content-test-slide .item-slide.slick-current .c-video {
        transform: scale(1);
    }
    .c-video {
        margin-left: 0px;
        margin-right: 0px;
    }
    .content-test-slide .item-slide h5 {
        bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .home_history_image img {
        position: absolute;
        bottom: 0;
    }
    .c-hours.shortcode .home_history_image img {
        max-width: 270px;
    }
    .home-contract .col-md-5 img {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
    }
    .contract_image {
        position: absolute;
        height: 100%;
        min-height: 590px;
        width: 375px;
        top: 38px;
        left: -63px;
    }
    .content-flag+h2, 
    .block-title h2 {
        font-size: 40px;
    }
    .home-contract h3 {
        font-size: 35px;
    }
    .site-header.stiky .title-area,
    .site-header .title-area {
        padding-left: 5%;
    }

    .home-ensena .block-title h2 {
        font-size: 28px;
    }
    .home-ensena .event-box {
        padding: 14px 10px;
    }
    .home-ensena {
        margin-bottom: 0px;
    }
    .ensena_image img {
        right: 0;
        max-width: 206px;
    }
    .get-book-bio .cont-title {
        max-width: 400px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 860px) {
    .contact-book-bio + .site-inner{
        display: none;
    }
    .contact-book-bio {
        padding: 23px 0 8px;
    }
    .c-quote::before, 
    .c-quote::after {
        font-size: 130px;
    }   
    .c-quote {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .c-quote::before {
        top: -88px;
    }
    .content-sidebar .content-sidebar-wrap .content {
        max-width: 100%;
        width: 100%;
    }
    .site-inner .sidebar {
        margin-left: 0px;
        max-width: 400px;
    }
    .content-sidebar .content-sidebar-wrap .wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-item{
        text-align: center;
    }
    .get-book .content-contact,
    .get-book-bio .get-book {
        flex-direction: column;
        /* margin-left: 0; */
        padding-left: 0;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    .single-blog .get-book img,
    .get-book img {
        position: relative;
        max-width: 90px;
        padding-bottom: 20px;
    }
    .single .get-book-bio .cont-title {
        max-width: 100%;
        padding: 15px;
    }
    .get-book-bio .cont-title {
        padding-bottom: 15px;
    }
    .content-pagination {
        text-align: center;
    }
    .get-book-bio h4 {
        font-size: 20px;
    }
    .get-book-bio .cont-title p {
        line-height: 1.2;
        padding-bottom: 5px;
    }
    .single-blog .get-book .content-contact {
        align-items: center;
    }
    .comment-respond{
        padding: 40px 0px 15px 0px;
    }
    ._form_element {
        max-width: 38%;
    }
    .home .site-inner {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-hero .small-contact {
        margin-top: -145px;
    }
    .small-contact .cont-form>div {
        /*width: 100%;*/
    }
    .event-box {
        flex-direction: column;
    }
    .event-box .e-right a.btn-purple{
        text-align: center;
        float: none;
        display: block;
        max-width: 210px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .event-box .e-right.right-cursos {
        padding: 0 0 20px 0;
    }
    .event-box .e-right {
        padding: 20px 15px;
    }
    .event-box.cursos-box {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        align-items: center;
    }
    .event-box .e-left {
        width: 100%;
        max-width: 100%;
    }
    .event-box .details-date {
        width: 100%;
        max-width: 50%;
    }
    
    .home-youtube .home-youtube-content {
        text-align: center;
        margin-right: auto;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        padding-bottom: 35px;
    }
    .home-youtube .item-video {
        margin-left: 0px;
        margin-right: 0px;
    }
    .home-youtube .row {
        margin-right: -15px;
    }
    .home-youtube {
        padding-bottom: 59px;
        padding-top: 50px;
    }
    .arrow-slide.sli-next {
        left: auto;
        right: 13px;
        top: calc(50% - 55px);
    }
    .arrow-slide.sli-prev {
        left: 13px;
        top: calc(50% - 55px);
    }
    .contract_image {
        display: none;
    }
    .home-history {
        text-align: center;
        padding-bottom: 15px;
    }
    .home-hours .row div[class*='col-']:first-child {
        text-align: center;
    }
    .contact-book + .site-inner{
        display: none;
    }
    .video-slide .c-video {
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-hours.shortcode {
        padding-bottom: 20px;
    }
    .ensena_image{
        overflow: hidden;
    }
    .ensena_image img {
        right: -62px;
        max-width: 400px;
    }
    .home-ensena{
        overflow: hidden;
    }
    .row.gutter-0>div[class*="col-"] {
        max-width: 50%;
    }
    .slide-gallery .arrow-slide.sli-next {
        right: 13px;
    }
    
}
@media only screen and (max-width: 680px) {
    .c-quote::before, .c-quote::after {
        font-size: 110px;
    }
    .page-template-page-biography .wrap.pt-5{
        padding: 20px 20px 20px 20px;
    }
    .contact-book-bio > .wrap{
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-hours.shortcode .wrap{
        padding-left: 20px;
        padding-right: 20px;
    }
    .site-header.stiky .title-area,
    .site-header .title-area {
        padding-left: 3%;
    }
    .sfm-navicon-button.sf_label_default {
        right: 13px !important;
    }
    ._form_element {
        max-width: 36%;
    }
    .small-contact .cont-title {
        text-align: center;
        max-width: 100%;
    }
    
}

@media only screen and (max-width: 580px) {
    .home-hero .small-contact {
        margin-top: -145px;
        flex-direction: column;
    }
    .small-contact .cont-form>div {
        width: 100%;
    }
    .small-contact .cont-form {
        display: block;
    }
    .small-contact .cont-form .item-btn {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100%;
    }
    .small-contact img {
        display: none;
    }
    /*form Top*/
    .home-hero .small-contact .content-contact {
        display: none;
    }
    .small-contact .cont-title h4 {
        font-size: 15px;
    }
    .small-contact .cont-form .item-form {
        width: 100%;
        margin-bottom: 8px;
    }
    .small-contact .cont-form .item-btn .btn-purple {
        margin-top: 17px;
    }
    /*end form Top*/
    .home-sponsors {
        background-color: #ffffff;
        text-align: center;
        margin-top: 105px;
    }
    .contact-book .img-float {
        transform: translateX(-55%);
    }
    .footer-widgets {
        padding: 45px 0;
    }
    .footer-widgets-1{
        margin-bottom: 7px;
    }
    .footer-widgets-1, .footer-widgets-2 {
        margin: 0 auto 25px;
    }
    .widget {
        margin-bottom: 25px;
    }
    .c-video {
        margin-left: 0px;
        margin-right: 0px;
    }
    .page-template-page-biography .wrap .span8 p > img{
        float: none;
        display: block;
        margin: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .content-submenu .top-right,
    .content-submenu .top-left{
        font-size: 15px;
    }
    .home-ensena .event-box {
        display: flex;
        flex-direction: column;
    }
    .ensena_image img {
        display: none;
    }
    .l-right,
    .l-left{
        text-align: center;
    }
    .home-ensena .event-box ul li a {
        font-size: 17px;
    }
    .home-ensena .event-box ul {
        padding-left: 0px;
    }
    .home-ensena .event-box ul li {
        line-height: 1.4;
    }
    .home-ensena .event-box ul li:after {
        background-image: none;
    }
    .get-book-bio h4 {
        font-size: 18px;
    }
    .get-book-bio .cont-title p {
        font-size: 14px;
    }
    .get-book img {
        max-width: 65px;
    }
    ._form-content {
        display: block;
    }
    ._form-content ._submit,
    ._form_element {
        max-width: 100%;
        width: 100%;
        margin-bottom: 5px;
    }

}